@font-face {
  font-family: 'MontserratRegular';
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'MontserratBold';
  src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'RobotoLight';
  src: url(./fonts/Roboto-Light.ttf);
}

.header {
  width: 1440px;
  height: 652px;
  background-image: url(./image/Background.png);
  margin: 0 auto;
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .menu {
  width: 900px;
  height: 50px;
  margin: 0 auto;
  padding-right: 42px;
}

.header .menu-button {
  float: right;
  background: none;
  width: 90px;
  height: 36px;
  margin-top: -7px;
  border: 3px solid white;
  border-radius: 20px;
  color: white;
  font-family: 'MontserratRegular';
  font-size: 14px;
  font-weight: 100;
}

.header .menu-text {
  color: white;
  font-family: 'MontserratBold';
  font-size: 20px;
}

.header .menu-mb {
  padding-left: 12px;
  border: none;
}

.header-text {
  width: 470px;
  height: 250px;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 127px;
}

.header-text-share {
  line-height: 63px;
  font-family: 'MontserratBold';
  font-size: 52px;
}

.header-text-find {
  margin-top: -5px;
  font-family: 'RobotoLight';
  font-size: 24px;
}

.header-text-button {
  width: 225px;
  height: 38px;
  background-color: #ff4e50;
  border: none;
  border-radius: 20px;
  color: white;
  padding-left: 15px;
  letter-spacing: 0.4px;
  font-family: 'MontserratBold';
  font-size: 14px;
}

.first {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-meet {
  width: 941px;
  height: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.first-meet-button {
  width: 180px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #FF4E50;
  color: #FF4E50;
  padding-left: 13px;
  font-family: 'MontserratBold';
  font-size: 14px;
}

.first-meet-s {
  font-family: 'RobotoLight';
  font-size: 14px;
  text-align: center;
}

.first-meet-h {
  font-family: 'MontserratBold';
  font-size: 14px;
}

.first-meet-text {
  font-family: 'MontserratBold';
  font-size: 26px;
  color: #444444;
  padding-left: 5px;
}

.first-meet-people {
  width: 941px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-meet-bradley {
  width: 222px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-meet-marie {
  width: 221px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-meet-diana {
  width: 221px;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-meet-pierce {
  width: 221px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 941px;
  height: 649px;
  margin: 0 auto;
}

.first-content-image {
  width: 100%;
  height: 461px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
}

.first-content-image-work {
  margin: 0 auto;
  font-family: 'MontserratBold';
  font-size: 26px;
}

.first-content-image-third {
  height: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 39px;
}

.first-content-image-third-first {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step1image.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.first-content-image-third-first-text {
  width: 250px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.first-content-image-third-second {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step1image1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.first-content-image-third-second-text {
  width: 250px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.first-content-image-third-three {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step1image2.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.first-content-image-third-three-text {
  width: 250px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.sed {
  color: white;
  font-family: 'MontserratBold';
  font-size: 24px;
}

.leo {
  color: #E3E3E3;
  font-family: 'RobotoLight';
  font-size: 14px;
}

.step {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  border: none;
  border-radius: 40px;
  color: white;
  letter-spacing: 2px;
  font-family: 'MontserratRegular';
  font-size: 10px;
}

.second {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 92px;
}

.second-content {
  width: 940px;
  height: 1290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 98px;
}

.second-content-h {
  font-family: 'MontserratBold';
  font-size: 26px;
}

.second-content-image {
  width: 940px;
  height: 1025px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-content-image-first {
  width: 300px;
  height: 310px;
  background-image: url(./image/Sport.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.second-content-image-second {
  width: 300px;
  height: 310px;
  background-image: url(./image/Healath.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.second-content-image-third {
  width: 300px;
  height: 310px;
  background-image: url(./image/Extreme.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-content-image-fourth {
  width: 300px;
  height: 310px;
  background-image: url(./image/Games.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-top: -34px;
}

.second-content-image-fifth {
  width: 620px;
  height: 310px;
  background-image: url(./image/Culture.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -33px;
}

.second-content-image-sixth {
  width: 620px;
  height: 310px;
  background-image: url(./image/CultureCopy.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-top: -37px;
}

.second-content-image-seventh {
  width: 300px;
  height: 310px;
  background-image: url(./image/GamesCopy.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -36px;
}

.second-content-image-h {
  font-family: 'MontserratBold';
  font-size: 22px;
  color: white;
}

.second-content-search {
  width: 481.12px;
  height: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-content-search-s {
  color: #666666;
  padding-top: 30px;
  font-family: 'RobotoLight';
  font-size: 18px;
}

.second-content-search-input {
  width: 520px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.second-content-search-place {
  width: 260px;
  height: 35px;
  padding-left: 13px;
  color: #666666;
  font-family: 'RobotoLight';
  font-size: 14px;
}

.second-content-search-button {
  width: 177px;
  height: 40px;
  background-color: #FF4E50;
  border-radius: 40px;
  padding-top: 3px;
  border: none;
  color: white;
  font-family: 'MontserratBold';
  font-size: 14px;
}

.footer-content {
  border-top: 2px solid #FF4E50;
  padding-top: 37px;
  width: 1440px;
  height: 224px;
  margin: 0 auto;
}

.footer-content-company {
  width: 184px;
  height: 184px;
  line-height: 18px;
  margin-left: 123px;
}

.footer-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 944px;
  height: 186px;
  margin: 0 auto;
}

.footer-content-h {
  color: #FF4E50;
  font-family: 'MontserratRegular';
  font-size: 16px;
}

.footer-content-hh {
  color: #444444;
  font-family: 'MontserratBold';
  font-size: 14px;
}

.footer-content-design {
  width: 125px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 281px;
}

.ul {
  line-height: 27px;
  margin-top: 8px;
}

.hhh {
  margin-left: 62px;
}

.des {
  color: #CCCCCC;
  padding-left: 36px;
  margin-bottom: 8px;
  letter-spacing: 1px;
  font-family: 'MontserratBold';
  font-size: 10px;
}

.img {
  margin-left: 7px;
}

@media screen and (max-width: 769px) {
  .header {
    width: 768px;
    background-position-x: center;
  }
  .header-text-button {
    letter-spacing: -0.1px;
    padding-left: 8px;
  }
  .header .menu {
    width: 671px;
    padding-left: 37px;
  }
  .first {
    width: 768px;
  }
  .first-content {
    width: 768px;
    height: 653px;
  }
  .first-content-image-third {
    width: 768px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .first-content-image-third-first {
    width: 236px;
    height: 400px;
  }
  .first-content-image-third-first-text {
    padding-left: 20px;
    height: 180px;
    line-height: 15px;
    margin-bottom: 2px;
    padding-bottom: 11px;
  }
  .first-content-image-third-second {
    width: 236px;
    height: 400px;
  }
  .first-content-image-third-second-text {
    padding-left: 4px;
    padding-bottom: 33px;
    margin-bottom: -20px;
    height: 130px;
    width: 199px;
    line-height: 15px;
  }
  .first-content-image-third-three {
    width: 236px;
    height: 400px;
  }
  .first-content-image-third-three-text {
    padding-left: 20px;
    height: 179px;
    margin-bottom: 14px;
    line-height: 15px;
  }
  .first-content-image-work {
    font-size: 22px;
  }
  .first-meet {
    width: 768px;
    height: 606px;
  }
  .first-meet-text {
    font-size: 22px;
    padding-left: 0px;
  }
  .first-meet-people {
    width: 492px;
    height: 464px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .first-meet-bradley {
    width: 236px;
    height: 200px;
  }
  .first-meet-marie {
    -webkit-transform: translate(-263px, 255px);
            transform: translate(-263px, 255px);
  }
  .first-meet-diana {
    -webkit-transform: translate(263px, -226px);
            transform: translate(263px, -226px);
  }
  .first-meet-pierce {
    -webkit-transform: translate(-7px, 34px);
            transform: translate(-7px, 34px);
    width: 225px;
    height: 200px;
  }
  .first-meet-button {
    margin-bottom: 2px;
  }
  .second {
    width: 768px;
  }
  .second-content {
    width: 768px;
    margin: 0px;
  }
  .second-content-h {
    font-size: 22px;
  }
  .second-content-image {
    width: 768px;
    padding-left: 21px;
  }
  .second-content-image-first {
    width: 236px;
    height: 310px;
    background-position: -40px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .second-content-image-second {
    width: 236px;
    height: 310px;
    background-position: -40px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .second-content-image-third {
    width: 236px;
    height: 310px;
    background-position: -20px 0px;
  }
  .second-content-image-fourth {
    width: 236px;
    height: 310px;
    background-position: -30px 0px;
  }
  .second-content-image-fifth {
    width: 492px;
    height: 310px;
    background-position: -70px 0px;
  }
  .second-content-image-sixth {
    width: 492px;
    height: 310px;
    background-position: 0px 0px;
  }
  .second-content-image-seventh {
    width: 236px;
    height: 310px;
    background-position: 20px 0px;
  }
  .second-content-search-button {
    width: 173px;
    padding-top: 0px;
  }
  .second-content-search-input {
    width: 513px;
  }
  .sport {
    text-align: center;
    width: 130px;
    margin-top: 117px;
    line-height: 25px;
  }
  .spor {
    text-align: center;
    width: 170px;
    margin-top: 130px;
    line-height: 24px;
  }
  .spo {
    text-align: center;
    width: 200px;
    margin-top: -2px;
    line-height: 29px;
  }
  .sed {
    margin-top: 43px;
  }
  .leo {
    width: 186px;
    margin-top: 28px;
  }
  .sss {
    margin-top: 10px;
  }
  .oe {
    margin-top: 19px;
  }
  .hhh {
    margin-left: -14px;
  }
  .ul {
    color: #999999;
  }
  .footer {
    width: 768px;
  }
  .footer-content {
    width: 768px;
    margin-top: 95px;
  }
  .footer-content-design {
    margin-left: 106px;
  }
  .footer-content-company {
    margin-left: 108px;
  }
  .footer-content-info {
    width: 768px;
  }
  .footer-content-h {
    padding-left: 39px;
  }
}

@media screen and (max-width: 426px) {
  .header {
    width: 300px;
    height: 515px;
    background-image: url(./image/Background1.png);
    padding-top: 26px;
  }
  .header .menu {
    width: 0px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px;
    padding-left: 86px;
    margin: 0px;
  }
  .header .menu-button {
    -webkit-transform: translate(50px, -99px);
            transform: translate(50px, -99px);
  }
  .header .menu-mb {
    -webkit-transform: translate(-39px, -70px);
            transform: translate(-39px, -70px);
  }
  .header-text {
    width: 300px;
    margin: 0px;
    padding-top: 22px;
    padding-left: 10px;
  }
  .header-text-share {
    line-height: 41px;
    font-size: 30px;
    width: 300px;
  }
  .header-text-find {
    font-size: 18px;
    width: 245px;
    margin-top: -74px;
    line-height: 22px;
  }
  .header-text-button {
    width: 280px;
    -webkit-transform: translate(0px, -62px);
            transform: translate(0px, -62px);
  }
  .first {
    width: 300px;
    height: 1827px;
  }
  .first-content {
    width: 300px;
  }
  .first-content-image {
    margin-top: 37px;
  }
  .first-content-image-third {
    margin-top: 9px;
    width: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .first-content-image-third-first {
    width: 300px;
    height: 240px;
    background-image: url(./image/Step.png);
    margin-bottom: 10px;
  }
  .first-content-image-third-first-text {
    padding: 0px;
    margin-left: -12px;
    height: 170px;
  }
  .first-content-image-third-second {
    width: 300px;
    height: 240px;
    background-image: url(./image/StepI.png);
    margin-bottom: 10px;
  }
  .first-content-image-third-second-text {
    width: 200px;
    padding: 0px;
    margin-left: -61px;
    height: 141px;
    padding-bottom: 23px;
  }
  .first-content-image-third-three {
    width: 300px;
    height: 240px;
    background-image: url(./image/StepII.png);
  }
  .first-content-image-third-three-text {
    width: 200px;
    padding: 0px;
    margin-left: -61px;
    height: 141px;
    padding-bottom: 18px;
  }
  .first-content-image-work {
    margin-bottom: 8px;
  }
  .first-meet {
    width: 300px;
    margin-top: 200px;
  }
  .first-meet-text {
    text-align: center;
    line-height: 27px;
  }
  .first-meet-people {
    width: 300px;
    height: 484px;
  }
  .first-meet-bradley {
    width: 300px;
  }
  .first-meet-diana {
    width: 300px;
    -webkit-transform: translate(0px, -186px);
            transform: translate(0px, -186px);
  }
  .first-meet-marie {
    width: 300px;
    -webkit-transform: translate(0px, 259px);
            transform: translate(0px, 259px);
  }
  .first-meet-pierce {
    width: 300px;
    padding-top: 20px;
    padding-left: 13px;
  }
  .first-meet-s {
    width: 233px;
  }
  .first-meet-button {
    padding-top: 4px;
    width: 280px;
    -webkit-transform: translate(0px, 425px);
            transform: translate(0px, 425px);
  }
  .leo {
    width: 244px;
    padding-bottom: 12px;
    margin-top: 26px;
  }
  .sed {
    margin-top: 46px;
  }
  .sss {
    margin-top: 9px;
  }
  .oe {
    margin-top: 0px;
  }
  .second {
    width: 300px;
  }
  .second-content {
    width: 300px;
    height: 1145px;
  }
  .second-content-h {
    text-align: center;
    width: 200px;
    line-height: 26px;
  }
  .second-content-image {
    width: 300px;
    padding-top: 33px;
    padding-left: 0px;
  }
  .second-content-image-second {
    background-image: url(./image/Healath1.png);
  }
  .second-content-image-second {
    background-image: url(./image/Healath1.png);
  }
  .second-content-image-third {
    background-image: url(./image/Extreme1.png);
  }
  .second-content-image-fourth {
    background-image: url(./image/Games1.png);
  }
  .second-content-image-fifth {
    background-image: url(./image/Culture1.png);
  }
  .second-content-image-sixth {
    background-image: url(./image/CultureCopy1.png);
  }
  .second-content-image-seventh {
    background-image: url(./image/GamesCopy1.png);
  }
  .second-content-image-f {
    width: 300px;
    height: 120px;
    background-position: center;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    margin-bottom: 11px;
  }
  .second-content-h {
    width: 220px;
  }
  .second-content-search {
    width: 300px;
    margin-top: 17px;
  }
  .second-content-search-s {
    padding-top: 23px;
  }
  .second-content-search-input {
    margin-top: 13px;
    width: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second-content-search-button {
    margin-top: 8px;
    width: 280px;
  }
  .second .sport {
    margin-top: 22px;
  }
  .second .spor {
    margin-top: 36px;
  }
  .footer {
    width: 300px;
    margin: 0 auto;
  }
  .footer-content {
    margin-top: 108px;
    width: 300px;
    padding-top: 21px;
  }
  .footer-content-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  .footer-content-h {
    padding-left: 91px;
  }
  .footer-content-company {
    margin-left: 115px;
    margin-top: 14px;
    height: 79px;
  }
  .footer-content-design {
    margin-left: 84px;
    margin-top: 16px;
  }
  .footer #ter {
    margin-left: 17px;
  }
  .footer .ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
    margin-left: -61px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .des {
    padding-left: 25px;
  }
  .footer li {
    margin-right: 12px;
  }
  .footer .hhh {
    margin-left: 117px;
  }
}
/*# sourceMappingURL=main.css.map */